In [45]:
import pymysql.cursors
import pandas as pd

conn = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'root',
    password = 'root',
    #database = "cloud"
    )
cursor = conn.cursor()

In [47]:
queries = [
    "drop database if exists cloud",
    "create database cloud",
    "use cloud",

    """CREATE TABLE users (
    user_id int auto_increment primary key,
    username varchar(15),
    password varchar(50) DEFAULT NULL,
    fname varchar(15),
    lname varchar(15) NOT NULL,
    email varchar(50) DEFAULT NULL,
    phone char(10) DEFAULT NULL   
    )""",

    """CREATE TABLE file (
    file_id char(6) NOT NULL primary key,
    user_id char(6) DEFAULT NULL,
    category varchar(20) DEFAULT NULL,
    uploaded_date datetime DEFAULT NULL,
    updated_date datetime DEFAULT NULL
    )""",

    """ CREATE TABLE document (
    file_id char(6) NOT NULL,
    file_name varchar(30),
    document_size int(15) DEFAULT NULL
    ) """,

    """CREATE TABLE image (
    file_id char(6) NOT NULL ,
    file_name varchar(30),
    image_size int(15) DEFAULT NULL
    )""",


    """CREATE TABLE others (
    file_id char(6) NOT NULL ,
    file_name varchar(30)
    ) """,


    """CREATE TABLE starred (
    file_id char(6) NOT NULL ,
    file_name varchar(30),
    starred_date datetime DEFAULT NULL
    ) """,


    """CREATE TABLE trash (
    file_id char(6) NOT NULL,
    file_name varchar(30),
    trash_size char(6) DEFAULT NULL,
    trash_date datetime DEFAULT NULL,
    no_of_days datetime DEFAULT NULL
    )""",

    """CREATE TABLE video (
    file_id char(6) NOT NULL,
    file_name varchar(30),
    image_size int(15) DEFAULT NULL)""",
    
    """CREATE TABLE share_file (
    share_ID varchar(20) DEFAULT NULL,
    upload_file mediumblob
    )"""
]

for i in queries:
    cursor.execute(i)
    conn.commit()

In [48]:
pd.read_sql("describe users", con = conn)

      Field         Type Null  Key Default           Extra
0   user_id      int(11)   NO  PRI    None  auto_increment
1  username  varchar(15)  YES         None
2  password  varchar(50)  YES         None
3     fname  varchar(15)  YES         None
4     lname  varchar(15)   NO         None
5     email  varchar(50)  YES         None
6     phone     char(10)  YES         None

In [12]:
x = cursor.execute("INSERT INTO users (username, password, fname, lname, email, phone) VALUES (%s, %s, %s, %s, %s, %s)"%('"ron"', '"adfgvsjbhd"', '"harry"', '"potter"', '"fvbhch@gmail.com"', '"5555555555"'))

In [13]:
conn.commit()

In [ ]:
cursor.execute("INSERT INTO users (username, password, fname, lname, email, phone) VALUES (%s, %s, %s, %s, %s, %s)"%
               ('"harry"', '"adfgvsjbhd"', '"harry"', '"potter"', '"fvbhch@gmail.com"', '"5555555555"'))

In [20]:
pd.read_sql("SELECT * FROM users WHERE username = %s AND password = %s"%('"ricky"', '"asdf"'), con = conn)["user_id"][0]

5

In [ ]:
INSERT INTO share_file (share_ID, upload_file) VALUES (TO_BASE64(RANDOM_BYTES(4)), LOAD_FILE('E:/smiley.jpg'));

In [41]:
cursor.execute("INSERT INTO share_file (share_ID, upload_file) VALUES ('1', LOAD_FILE('share_file/bus_ticket.pdf'))")
conn.commit()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1")